{% extends "layout.html" %}

{% block body %}

<nav class="black" role="navigation">

    <div class="nav-wrapper container">

      <a id="logo-container" href="#" class="brand-logo">coikea
        </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator" src="https://www.ikea.cn/cn/zh/images/products/adde-a-de-yi-zi-bai-se__0174113_PE328018_S4.JPG"></a>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i></span>
      <p>这是一个段落</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">弹出标题<i class="material-icons right">close</i></span>
      <p>单击后显示的产品的详细信息。</p>
    </div>
  </div>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator" src="https://www.ikea.cn/cn/zh/images/products/linnmon-li-meng-alex-a-lai-si-zhuo-zi-he-se__0199905_PE358580_S4.JPG"></a>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i></span>
      <p>这是一个段落</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">弹出标题<i class="material-icons right">close</i></span>
      <p>单击后显示的产品的详细信息。</p>
    </div>
  </div>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator" src="https://www.ikea.cn/cn/zh/images/products/olskar-ao-ka-er-xi-lian-chi-long-tou__0404531_PE289642_S4.JPG"></a>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i></span>
      <p>这是一个段落</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">弹出标题<i class="material-icons right">close</i></span>
      <p>单击后显示的产品的详细信息。</p>
    </div>
  </div>



<div class="col s12 m7">
    <div class="card horizontal row">
      <div class="card-image col s4">
        <img src="https://www.ikea.cn/cn/zh/images/products/olskar-ao-ka-er-xi-lian-chi-long-tou__0404531_PE289642_S4.JPG">
      </div>
      <div class="card-stacked col s8">
        <div class="card-content">
          <p>我是一个很简单的卡片。我很擅长于包含少量的信息。</p>
        </div>
      </div>
    </div>
  </div>








{% endblock %}