{% extends "layout.html" %}


{% block body %}

<nav class="black" role="navigation">

    <div class="nav-wrapper container">

      <a id="logo-container" href="#" class="brand-logo">coikea
        </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator" src="preview2.png"></a>
    </div>
    <!--<div class="card-content">-->
      <!--<span class="card-title activator grey-text text-darken-4">A romantic space designer<i class="material-icons right">more_vert</i></span>-->
      <!--<p>这是一个段落</p>-->
    <!--</div>-->
    <!--<div class="card-reveal">-->
      <!--<span class="card-title grey-text text-darken-4">弹出标题<i class="material-icons right">close</i></span>-->
      <!--<p>单击后显示的产品的详细信息。</p>-->
    <!--</div>-->
  </div>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator" src="preview3.png"></a>
    </div>
    <!--<div class="card-content">-->
      <!--<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>-->
      <!--<p>这是一个段落</p>-->
    <!--</div>-->
    <!--<div class="card-reveal">-->
      <!--<span class="card-title grey-text text-darken-4">弹出标题<i class="material-icons right">close</i></span>-->
      <!--<p>单击后显示的产品的详细信息。</p>-->
    <!--</div>-->
  </div>

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator" src="preview1.png"></a>
    </div>
    <!--<div class="card-content">-->
      <!--<span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i></span>-->
      <!--<p>这是一个段落</p>-->
    <!--</div>-->
    <!--<div class="card-reveal">-->
      <!--<span class="card-title grey-text text-darken-4">弹出标题<i class="material-icons right">close</i></span>-->
      <!--<p>单击后显示的产品的详细信息。</p>-->
    <!--</div>-->
  </div>




<!--https://www.ikea.cn/cn/zh/images/products/adde-a-de-yi-zi-bai-se__0174113_PE328018_S4.JPG"-->





{% endblock %}